:root{
    --font-primary: 'Inter', sans-serif;
    --color-pink: #770707;
    --color-orange: #f07a1af4;
    --color-black: #000000;
    --color-white: #F5F5F5;
}

body{
    background: var(--color-orange);
}
