footer{
    padding: 0.3rem 0;
    background: var(--color-pink);

    .flexBox{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 30rem;
        padding: 1rem;
        width: 100px;
        height: 80px;
    }
    
}
.paragraph{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    color: white;
}